Name: Shada Maayouf
Matrikelnummer: 4311663

___
**_Bitte beachten:_**

- In Code-Zellen soll (bei Bedarf kommentierter) Code eingefügt werden. In Raw-Zellen erwarten wir Antworten im Freitext-Format.
- Fragestellungen sind teilweise bewusst etwas offener formuliert, weil Sie auch im Arbeitsleben nur selten mit ganz spezifischen Anweisungen rechnen können. Es gibt häufig mehrere mögliche Lösungen, dies wird in der Korrektur  berücksichtigt.

___

In [3]:
# Imports
import pandas as pd

# (I can't get no) satisfaction
Wir werden in diesem Kurs mit einem Datensatz arbeiten, der verschiedene Informationen über Angestellte einer fiktiven Firma namens *Fiktiva* enthält. Mithilfe des Datensatzes soll die Fragestellung beantwortet werden, ob ein\*e Angestellte\*r in der Firma zufrieden ist (`satisfied = 1`) oder nicht (`satisfied = 0`). In dieser Kurseinheit werden wir uns mit den Daten vertraut machen und mit einigen Fragen zur Datenqualität auseinandersetzen.

Manchmal werden zur Beantwortung von Fragen weitere Informationen benötigt. Sie können hierfür auch externe Quellen verwenden und bspw. die Datei `metadata.txt` zu Rate ziehen, aber auch alle Informationen aus dem Fiktiva-Newsletter.

## Daten laden
Den Datensatz (*employees_satisfaction.csv*) finden Sie im Moodle. Laden Sie ihn in ein Pandas-Dataframe. Geben Sie die ersten 10 Zeilen aus.

In [14]:
# Ihre Lösung
#df = pd.read_csv("wsl.localhost/Ubuntu-22.04/home/lallashatha/data-engineering-
#infrastructure.git/workspace/KE2/employees_satisfaction.csv", index_col=0)

#index_col=0 shows where to put the index column
df = pd.read_csv("./data/employees_satisfaction.csv", index_col=0)
df_ds = pd.read_csv("./data/Latest_Data_Science_Salaries.csv", index_col=0)
df_projects = pd.read_csv("C:/Users/maayo/Documents/FernUni Hagen/Data Engineering for Data Science/Uebungen/KE6/data/projects.csv", index_col=0)


#Erste zehn Zeilen Ausgeben


# Hinweis: Laden Sie den Datensatz so, dass die erste Spalte als Index (Row Label) verwendet wird

In [15]:
display(df_projects.head(5))

In [18]:
display(df_projects.info())
Dtype(df_projects['title'])

## Erste Datenanalyse

Machen Sie sich mit den Daten vertraut:
- Wie viele Zeilen hat der Datensatz?
- Wie viele Spalten hat der Datensatz?
- Welchen Datentyp haben die einzelnen Spalten?
- Ermitteln Sie statistische Kennzeichen der numerischen Spalten.
- Welche Informationen stellt der Datensatz für die Vorhersage der Zufriedenheit bereit? Beachten Sie hierfür auch die Angaben in der Datei `metadata.txt`
- Gibt es fehlende Werte in den Daten?

In [3]:
# Ihre Lösung (nutzen Sie dafür untenstehende Zellen)


LoRI = df.index
LoRI2 = df.axes[0]
LoC = df.columns

LoRI.to_list()
LoC.to_list()

['emp_id',
 'age',
 'Dept',
 'education',
 'recruitment_type',
 'job_level',
 'rating',
 'awards',
 'certifications',
 'salary',
 'gender',
 'entry_date',
 'last_raise',
 'satisfied']

In [4]:
# Wie viele Zeilen hat der Datensatz? 

#LoR List of Rows, LoC List of Columns, LoRI list of row indeces

NoR = len(df.index)
#oder
NoR1 = len(df)
#oder
NoR2 = len(df.axes[0])

print(str(NoR) + " " + str(NoR1) + " " + str(NoR2) )

500 500 500

In [5]:
# Wie viele Spalten hat der Datensatz?

NoC = len(df.axes[1])
#oder
NoC1 = len(df.keys())
#oder
NoC2 = len(df.columns)

print(str(NoC) + " " + str(NoC1) + " " + str(NoC2) )

14 14 14

In [6]:
# Welche Spalten beinhaltet der Datensatz?

print(LoC.to_list())
print("-------------")

print(list(LoC))

print("-------------")

print(list(df.columns))
print("-------------")

# Durch Spalten iterieren
for col in df.columns:
    print(col)
print("-------------")
    
#oder
print(list(df.keys()))

print("-------------")

#oder
print(list(df.columns.values))

['emp_id', 'age', 'Dept', 'education', 'recruitment_type', 'job_level', 'rating', 'awards', 'certifications', 'salary', 'gender', 'entry_date', 'last_raise', 'satisfied']
-------------
['emp_id', 'age', 'Dept', 'education', 'recruitment_type', 'job_level', 'rating', 'awards', 'certifications', 'salary', 'gender', 'entry_date', 'last_raise', 'satisfied']
-------------
['emp_id', 'age', 'Dept', 'education', 'recruitment_type', 'job_level', 'rating', 'awards', 'certifications', 'salary', 'gender', 'entry_date', 'last_raise', 'satisfied']
-------------
emp_id
age
Dept
education
recruitment_type
job_level
rating
awards
certifications
salary
gender
entry_date
last_raise
satisfied
-------------
['emp_id', 'age', 'Dept', 'education', 'recruitment_type', 'job_level', 'rating', 'awards', 'certifications', 'salary', 'gender', 'entry_date', 'last_raise', 'satisfied']
-------------
['emp_id', 'age', 'Dept', 'education', 'recruitment_type', 'job_level', 'rating', 'awards', 'certifications', 'salary', 'gender', 'entry_date', 'last_raise', 'satisfied']

In [16]:
# Welchen Datentyp haben die einzelnen Spalten?
display(df.dtypes)

emp_id               object
age                   int64
Dept                 object
education            object
recruitment_type     object
job_level             int64
rating              float64
awards                int64
certifications        int64
salary                int64
gender               object
entry_date           object
last_raise          float64
satisfied             int64
dtype: object

,emp_id,age,Dept,education,recruitment_type,job_level,rating,awards,certifications,salary,gender,entry_date,last_raise,satisfied
0,HR8270,28,HR,PG,Referral,5,2.0,1,0,86750,m,2019-02-01,NaN,1
1,TECH1860,50,Technology,PG,Recruitment Agency,3,5.0,2,1,42419,Male,2017-01-17,NaN,0
2,TECH6390,43,Technology,UG,Referral,4,1.0,2,0,65715,f,2012-08-27,NaN,1
3,SAL6191,44,Sales,PG,On-Campus,2,3.0,0,0,29805,f,2017-07-25,NaN,1
4,HR6734,33,HR,UG,Recruitment Agency,2,1.0,5,0,29805,m,2019-05-17,NaN,1

In [18]:
# Ermitteln Sie statistische Kennzeichen der numerischen Spalten.
df.describe()

#oder
df.describe(include='all')

,emp_id,age,Dept,education,recruitment_type,job_level,rating,awards,certifications,salary,gender,entry_date,last_raise,satisfied
count,500,500.000000,500,500,500,500.000000,471.000000,500.000000,500.000000,500.000000,497,500,26.000000,500.000000
unique,499,NaN,5,2,4,NaN,NaN,NaN,NaN,NaN,4,475,NaN,NaN
top,MKT7287,NaN,Purchasing,PG,Referral,NaN,NaN,NaN,NaN,NaN,m,2019-09-01,NaN,NaN
freq,2,NaN,114,254,140,NaN,NaN,NaN,NaN,NaN,207,3,NaN,NaN
mean,NaN,39.694000,NaN,NaN,NaN,3.032000,3.093418,4.570000,0.514000,50416.056000,NaN,NaN,0.049231,0.714000
std,NaN,8.477033,NaN,NaN,NaN,1.423738,1.423129,2.989812,0.628167,23671.392661,NaN,NaN,0.029519,0.452342
min,NaN,22.000000,NaN,NaN,NaN,1.000000,1.000000,0.000000,0.000000,24076.000000,NaN,NaN,0.010000,0.000000
25%,NaN,34.000000,NaN,NaN,NaN,2.000000,2.000000,2.000000,0.000000,29805.000000,NaN,NaN,0.020000,0.000000
50%,NaN,39.000000,NaN,NaN,NaN,3.000000,3.000000,5.000000,0.000000,42419.000000,NaN,NaN,0.050000,1.000000
75%,NaN,47.000000,NaN,NaN,NaN,4.000000,4.000000,7.000000,1.000000,65715.000000,NaN,NaN,0.077500,1.000000
max,NaN,56.000000,NaN,NaN,NaN,5.000000,5.000000,25.000000,9.000000,86750.000000,NaN,NaN,0.100000,1.000000

### Gibt es irgendwelche fehlende Werte in den Daten?

In [34]:
check_nan = df.isnull().values.any()
#By default, it is applied to columns. 
#If the argument axis=1 like df.isnull().values.any(axis=1), it is applied to rows.
print("Gibt es fehlende Werte in den Daten? "+str(check_nan))

Gibt es fehlende Werte in den Daten? True

### Gibt es mindestens ein fehlendes Wert?

In [60]:
df.isnull().values.sum() != 0

True

### Anzahl existierende Werte (nicht-Nans)

In [63]:
#pro spalte
display(df.count())
#pro Zeile
display(df.count(axis=1))

emp_id              500
age                 500
Dept                500
education           500
recruitment_type    500
job_level           500
rating              471
awards              500
certifications      500
salary              500
gender              497
entry_date          500
last_raise           26
satisfied           500
dtype: int64

0      13
1      13
2      13
3      13
4      13
       ..
495    13
496    13
497    12
498    13
499    13
Length: 500, dtype: int64

### Fehlen alle Werte in den Daten?

In [35]:
check_all_nan = df.isnull().all().all()
print("fehlen alle Werte in den Daten? "+str(check_all_nan))

fehlen alle Werte in den Daten? False

### Anzahl aller Nans in den DF + Anzahl  Nans pro Spalte

In [37]:
nan_sum = df.isnull().values.sum()
print("Anzahl aller Nans? "+str(nan_sum))

nans_per_col = df.isnull().sum()
print("Anzahl Nans pro Spalte? \n"+str(nans_per_col))

Anzahl aller Nans? 506
Anzahl Nans pro Spalte?
emp_id                0
age                   0
Dept                  0
education             0
recruitment_type      0
job_level             0
rating               29
awards                0
certifications        0
salary                0
gender                3
entry_date            0
last_raise          474
satisfied             0
dtype: int64

### Welche Spalten haben Nans?

In [56]:
df.columns[df.isna().any()].tolist()

['rating', 'gender', 'last_raise']

### Welche Zeilen haben Nans?

In [57]:
print("Anzahl Zeilen mit Nans "+str(df.isnull().T.any().T.sum()))

nan_rows = df[df.isnull().T.any()]
nan_rows

Anzahl Zeilen mit Nans 474

,emp_id,age,Dept,education,recruitment_type,job_level,rating,awards,certifications,salary,gender,entry_date,last_raise,satisfied
0,HR8270,28,HR,PG,Referral,5,2.0,1,0,86750,m,2019-02-01,NaN,1
1,TECH1860,50,Technology,PG,Recruitment Agency,3,5.0,2,1,42419,Male,2017-01-17,NaN,0
2,TECH6390,43,Technology,UG,Referral,4,1.0,2,0,65715,f,2012-08-27,NaN,1
3,SAL6191,44,Sales,PG,On-Campus,2,3.0,0,0,29805,f,2017-07-25,NaN,1
4,HR6734,33,HR,UG,Recruitment Agency,2,1.0,5,0,29805,m,2019-05-17,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,HR5330,49,HR,PG,On-Campus,2,5.0,6,0,29805,m,2014-03-21,NaN,1
496,TECH9010,24,Technology,UG,Referral,2,4.0,2,0,29805,f,2018-02-20,NaN,0
497,MKT7801,34,Marketing,PG,On-Campus,1,NaN,2,0,24076,m,2020-10-20,NaN,1
498,TECH5846,26,Technology,UG,Walk-in,2,1.0,1,1,29805,Male,2012-05-18,NaN,0
499,TECH7731,26,Technology,UG,Recruitment Agency,3,4.0,3,0,42419,Male,2018-12-28,NaN,0

### To find out which rows have NaNs in a specific column:

In [59]:
nan_rows_in_specific_col = df[df['rating'].isnull()]
nan_rows_in_specific_col.head(5)

,emp_id,age,Dept,education,recruitment_type,job_level,rating,awards,certifications,salary,gender,entry_date,last_raise,satisfied
61,SAL8629,53,Sales,PG,Recruitment Agency,1,NaN,6,1,24076,m,2020-11-26,NaN,1
67,HR8916,28,HR,PG,Referral,1,NaN,7,1,24076,Female,2020-09-10,NaN,0
69,HR1878,27,HR,PG,Walk-in,1,NaN,5,0,24076,Male,2020-06-01,NaN,1
70,HR5887,30,HR,UG,Recruitment Agency,1,NaN,0,0,24076,f,2020-05-30,NaN,0
117,TECH3790,45,Technology,UG,On-Campus,5,NaN,4,0,86750,m,2020-10-18,NaN,1

## Datenqualität

*Hinweis: Bei den folgenden Fragen geht es um Ihre Einschätzung. Ziel ist es, sich mit dem Thema Datenqualität auseinanderzusetzen und sich mit Fragestellungen in Bezug auf Data Fitness, etc. zu beschäftigen.*

Was denken Sie über den Datensatz? Ist dieser geeignet, um die Fragestellung über die Zufriedenheit der Angestellten zu beantworten? Reichen die angegebenen Informationen zur Beantwortung der Fragestellung aus? Wenn nicht, welche Informationen würden Sie noch verwenden?

Ihre Einschätzung:
Um die Fragestellung, ob die Allgemeinheit der Angestellten zufrieden sind, zu beantworten, ist sowohl die Fitness als auch die Integrität des Datensatzes nicht wirklich ausreichend.

Data Fitness: 
Der Datensatz stellt eine ausreichende Repräsentation der betroffenen Population dar (Metrik: Representativeness). Allerdings, ist die Zuverlässigkeit des Datensatzes fraglich, falls eine Datenanalyse des Datensatzes auf ein anderes Unternehmen übertragen wird (Metrik Reliability). Für akkurate Resultate müssen die Größe, Umsatz, und Branche der beiden Unternehemn ähnlich sein. Auch die Metrik "Construct Validity" wird nicht effektiv erfasst. Das kann man beispielsweise an der Spalte "rating" erkennen, denn die Erklärung für die Spalte "rating" in der Datei "Meta-Data.txt" ist mehrdeutig. Man kann nicht genau sagen wer wem bewertet (die Angestellten bewerten ihr Unternehmen oder andersrum?) oder auf was die Bewertung basiert (z.B. Leistung der Angestellten, Arbeitsumfeld etc...).

Folgende Data Integrity characteristics wurden für den datensatz nicht erfüllt:
1. Well-annotated (Spalte "rating")
2- consistent (Spalte "gender")
3. clear


Folgende Informationen (bzw. Spalten) würde ich noch hinzufügen, um genauere Resultate zu bekommen:
1. Number of raises they've had in the past
2. Date of last raise (Falls die Gehalterhöhung neu ist, ist der Angestellte vermutlich zufriedener als ein anderer Angestellte mit einer älteren Gehaltserhöhung)
3. have they been promoted? (Davon kann man wissen, ob der Angestellte in dem Joblevel aufgenommen wurde oder zu diese befördert wurde)
4. Anzahl der Urlaubstage

Für welche weiteren Fragestellungen/Analysen könnte der Datensatz geeignet sein?

Ihre Einschätzung:
1. Welche der Einstellungsmethoden (recruitment types) am effektivsten für das Unternhemen sind.
2. Einschätzung der nächsten Gehaltserhöhung für einen Angestellten basieren auf sein Gehalt, Job level und Awards.

Stellen Sie Überlegungen zur Datenerhebung an. Welche Faktoren könnten die Datenqualität beeinträchtigen?

Ihre Einschätzung:

1. Klarheit und Annotation der Daten. Z.B. Die erklärung für die Spalte "rating" in der Datei "Meta-Data.txt" ist mehrdeutig. Man kann nicht genau sagen wer wem bewertet (die Angestellten bewerten ihr Unternehmen oder andersrum?) oder auf was die Bewertung basiert (z.B. Leistung der Angestellten, Arbeitsumfeld).
2. Inkonsistenzen: Z.B. In der Spalte "gender" werden für das gleiche Geschlecht zwei verschiedene Diskriptoren verwendet ("m" und "Male", "f" und "Female"). Ein Problem wird auftreten, falls eine Klassifizierung der zufriedenen und unzufriedenen Angestellten basierend auf dem Geschlecht der Angestellten erfolgt.

Beurteilen Sie den Datensatz bzgl. der weiteren Aspekte zur Datenqualität, die Sie im Kurstext kennengelernt haben:

In [18]:
# Platz für Analysen bzgl. der Datenqualität

#Data Integrity - Characteristic "High volume"
print("sind alle 500 Angestellten im Datensatz inbegriffen? "+str(len(df.index)==500))

#Data Integrity - Characteristic "Complete"
# Gibt es fehlende Werte in den Daten?
check_nan = df.isnull().values.any()
print("Are there any missing values? "+str(check_nan))

#Data Integrity - Characteristic "Consistent"
#Duplikate finden
print("Number of duplicate rows: "+ str(len(df)-len(df.drop_duplicates())))
print("display duplicated rows: ")
print(df[df.duplicated()])

#find inconsistencies:
df.groupby(['gender'])['emp_id'].count()

sind alle Angestellten im Datensatz inbegriffen? True
Are there any missing values? True
Number of duplicate rows: 0
display duplicated rows:
Empty DataFrame
Columns: [emp_id, age, Dept, education, recruitment_type, job_level, rating, awards, certifications, salary, gender, entry_date, last_raise, satisfied]
Index: []

gender
Female     46
Male       57
f         187
m         207
Name: emp_id, dtype: int64

Ihre Einschätzung:
Von der Datenanalyse kann man folgendes entnehmen:
1. Data Integrity characteristics:
    a. "High volume": erfüllt. Alle 500 angestelleten sind im Datensatz inbegriffen.
    b. "Consistent": Nicht erfüllt. Es gibt keine Duplikate. Es gibt Inkonsistenzen in Spalte "gender"
    c. "Complete": Nicht erfüllt. Es gibt fehlende Werte in der letzten Spalte.
    d. "Timely": erfüllt. Der datensatz ist aktuell.
    e. "Of Known Provenance": erfüllt. Der Datensatz ist intern erstellt d.h. von einer zuverlässigen Quelle.
    f. "Well annotated": Nicht erfüllt. einige Spaletn sind nicht eindeutig erklärt.

Stellen Sie sich vor, dieser Datensatz soll dazu verwendet werden, um die Zufriedenheit von Angestellten vorherzusagen und daraus wiederum Rückschlüsse auf das Kündigungswahrscheinlichkeiten zu schließen. Für wie zuverlässig würden Sie entsprechende Wahrscheinlichkeiten halten?

Ihre Einschätzung: Unzuverlässig.

Nehmen Sie an, mithilfe des Datensatzes wäre ein zuverlässiges Modell mit guten Vorhersagewahrscheinlichkeiten trainiert worden, um die Zufriedenheit der Angestellten zu bestimmen. Nun möchte eine andere Firma aus der gleichen Branche dasselbe Modell für ihre Angestellten nutzen. Denken Sie, das Modell würde auch für die andere Firma zuverlässige Vorhersagen treffen?

Ihre Einschätzung:
Ich glaube das Modell würde für die andere Firma *nur* zuverlässige Vorhersagen treffen, wenn die Firme eine ähnliche Größe (Anzahl der Angestellten) und Umsatz hat wie die erste Firma.

Überlegen Sie, welche Vorverarbeitungsschritte für den Datensatz notwendig wären.

Ihre Einschätzung:
1 - Data Cleaning: Inkonsistenzen müssen korrigiert werden, fehlende Daten ergänzen.
2 - Metadaten genauer formulieren.