In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

df = pd.read_csv("./data/employees_satisfaction_transformed.csv", index_col=0)
df

,age,department,education,recruitment_type,job_level,rating,awards,certifications,salary,gender,entry_date,satisfied
0,28,HR,Postgraduate,Referral,5,2.0,1,0,78075.0,Male,2019-02-01,1
1,50,Technology,Postgraduate,Recruitment Agency,3,5.0,2,1,38177.1,Male,2017-01-17,0
2,43,Technology,Undergrad,Referral,4,1.0,2,0,59143.5,Female,2012-08-27,1
3,44,Sales,Postgraduate,On-Campus,2,3.0,0,0,26824.5,Female,2017-07-25,1
4,33,HR,Undergrad,Recruitment Agency,2,1.0,5,0,26824.5,Male,2019-05-17,1
...,...,...,...,...,...,...,...,...,...,...,...,...
495,49,HR,Postgraduate,On-Campus,2,5.0,6,0,26824.5,Male,2014-03-21,1
496,24,Technology,Undergrad,Referral,2,4.0,2,0,26824.5,Female,2018-02-20,0
497,34,Marketing,Postgraduate,On-Campus,1,Unavailable,2,0,21668.4,Male,2020-10-20,1
498,26,Technology,Undergrad,Walk-in,2,1.0,1,1,26824.5,Male,2012-05-18,0
499,26,Technology,Undergrad,Recruitment Agency,3,4.0,3,0,38177.1,Male,2018-12-28,0

# 1. Groupby

**Beispiel** : In welcher Abteilung sind die meisten zufriedenen Angestellten?

In [2]:
satisfied = df[df['satisfied'] == 1]
satisfied['department'].value_counts()
#or
satisfied.groupby('department')['satisfied'].sum()

department
HR            73
Marketing     61
Purchasing    80
Sales         70
Technology    73
Name: satisfied, dtype: int64

56

68    Technology
Name: department, dtype: object

276    HR
Name: department, dtype: object